.f11xjbzd {
	display: none;
}

.f1aiijcp {
	display: none;
}

.atvwebplayersdk-bottompanel-container {
	display: none;
}

.atvwebplayersdk-BelowFold {
	display: none;
}

.atvwebplayersdk-player-container {
	opacity: 0;
}
