main-app-controls-overlay, skip-overlay, end-card-overlay, ratings-overlay {
    display: none;
}

#hudson-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
